body{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container{
    width: 900px;
    margin: auto;
    border-radius: 15px;
    background: linear-gradient(to bottom, #220D25 , #5C1D67);
}

.header{
    padding: 50px;
}

.title{
    color: #FECD23;
    font-size: 40px;
    text-align: center;
    font-family: "oxygen", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.p{
    font-size: 18px;
    text-align: center;
}

.form-container{
    width: 800px;
    margin: auto;
    border-radius: 10px;
    overflow: auto;
    background: linear-gradient(to bottom, #5C1D67 , #220D25);
    background-color: #611E6C;
    padding-bottom: 30px;
    
}

.title-form{
    padding-top: 20px;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    padding-bottom: 25px;
}

.form{
   text-align: center;
    width: 80%;
    margin: 0 auto;
    display: grid;
    flex-direction: column;
    gap: 20px;
}

input{
    padding: 12px 15px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
}

input:focus{
    outline: none;
}

.card-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card{
    background: linear-gradient(to bottom, #3D5DED, #6FC8FD);
    width: 150px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(4, 4, 4, 0.1);
    border: 12px solid #2637D8;

}

.card p{
    font-size: 25px;
    font-weight: 500;
}

.card img{
    width: 100%;
    margin: 0 auto;
}

button{
    padding: 20px 10px;
    margin-top: 10px;
    background-color: black;
    color: white;
    width: 60%;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 10px;
    border: none;
    cursor: pointer;

}

footer{
    text-align: center;
    margin-top: 10px;
}